fieldset.download-links
  legend
    span.field-name Download documents
  p
    button.btn.btn-default(type='submit' formaction='download_full_en') Full requirements with informative sections (English)
  p
    button.btn.btn-default(type='submit' formaction='download_full_fr') Full requirements with informative sections (French)
  p
    button.btn.btn-default(type='submit' formaction='download_evaluation_en') Evaluation template (English)
  p
    button.btn.btn-default(type='submit' formaction='download_evaluation_fr') Evaluation template (French)
  p
    button.btn.btn-default(type='submit' formaction='download_evaluation_weighted_en') Evaluation template - weighted (English)
  p
    button.btn.btn-default(type='submit' formaction='download_evaluation_weighted_fr') Evaluation template - weighted (French)

.document-properties
  details
    summary Document properties
    fieldset
      legend
        span.field-name Page orientation
      .radio
        label(for='orientation1')
          input(type='radio' name='orientation' value='portrait' id='orientation1')
          | Portrait
      .radio
        label(for='orientation2')
          input(type='radio' name='orientation' value='landscape' id='orientation2' checked)
          | Landscape