fieldset.download-links
  legend
    span.field-name Télécharger les documents
  p
    button.btn.btn-default(type='submit' formaction='download_full_not_fillable_en') Exigences avec sections instructives (en anglais)
  p
    button.btn.btn-default(type='submit' formaction='download_full_not_fillable_fr') Exigences avec sections instructives (en français)
  p
    button.btn.btn-default(type='submit' formaction='download_evaluation_en') Modèle d'évaluation (en anglais)
  p
    button.btn.btn-default(type='submit' formaction='download_evaluation_fr') Modèle d'évaluation (en français)
  //- p
  //-   button.btn.btn-default(type='submit' formaction='download_evaluation_weighted_en') Modèle d'évaluation pondérée (en anglais)
  //- p
  //-   button.btn.btn-default(type='submit' formaction='download_evaluation_weighted_fr') Modèle d'évaluation pondérée (en français)

.document-properties
  details
    summary Propriétés de document
    fieldset
      legend
        span.field-name Orientation de la page
      .radio
        label(for='orientation1')
          input(type='radio' name='orientation' value='portrait' id='orientation1')
          | Format vertical
      .radio
        label(for='orientation2')
          input(type='radio' name='orientation' value='landscape' id='orientation2' checked)
          | Format horizontal