if test_list.length === 1
  p La clause #{test_list[0].number} a été évalué pour cette TIC.
else
  p
    | Les clauses 
    each item, i in test_list
      if i < test_list.length - 2
        | #{item.number}, 
      else if i == test_list.length - 2
        | #{item.number} 
      else
        | et #{item.number} ont été évalué pour cette TIC.