if item_list.length === 1
  p Clause #{item_list[0].number} has been deemed relevant to this ICT.
else
  p
    | Clauses 
    each item, i in item_list
      if i < item_list.length - 2
        | #{item.number}, 
      else if i == item_list.length - 2
        | #{item.number} 
      else
        | and #{item.number} have been deemed relevant to this ICT.