doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    style
      include download.css

  body(vocab='http://schema.org/' typeof='WebPage')
    .WordSection1
      p Generated #{moment().format('YYYY-MM-DD')}
      h1= title
      include includes/intro
      include includes/scope
      include includes/table_not_fillable
      include includes/annex