doctype html
html(lang='fr')
  head
    title= title
    meta(charset='utf-8')
    style
      include download.css

  body(vocab='http://schema.org/' typeof='WebPage')
    .WordSection1
      p Généré le #{moment().format('YYYY-MM-DD')}
      h1= title
      include includes/intro_fr
      include includes/scope_fr
      include includes/table_not_fillable_fr
      include includes/annex_fr