doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    style
      include download.css

  body(vocab='http://schema.org/' typeof='WebPage')
    .WordSection1
      h1= title
      
      include includes/scope
      
      ul
        each item in item_list
          li #{item.number} #{item.name}