doctype html
html(lang='en')
  head
    title Information and Communications Technology (ICT) Accessibility Conformance Report (EN 301 549 v2.1.2)
    meta(charset='utf-8')
    style
      include download.css

  body(vocab='http://schema.org/' typeof='WebPage')
    .WordSection1
      p Template generated #{moment().format('YYYY-MM-DD')}
      include includes/evaluation_intro.html
      h2 Scope of testing
      include includes/scope_evaluation
      h2 Testing results
      include includes/table_evaluation_weighted