extends layout_fr

block content
  h1#wb-cont(property='name')= title
  p Utilisez cet outil pour générer des documents d'exigences spécifiques aux technologies de l'information et de la communication (TIC) que vous achetez. Les exigences sont basées sur l'EN 301549 V2.1.2 (2018-08).
  hr

  form(novalidate='novalidate' method='POST' action='')
    .row
      .wb-tabs
        .tabpanels
          details#details-step1
            summary Étape 1 : Définir la fonctionnalité des TIC
            p.form-instructions-link
              a.overlay-lnk.right(href='#instructionsStep1' aria-controls='instructionsStep1' role='button' title='Step 1 instructions') Instructions : Étape 1
            include includes/wizard_form_fr
            a.btn.btn-default.wb-tabs-ext.right(href='#details-step2') Suivant
          details#details-step2
            summary Étape 2 : Préciser la sélection de clause
            p.form-instructions-link
              a.overlay-lnk.right(href='#instructionsStep2' aria-controls='instructionsStep2' role='button' title='Step 2 instructions') Instructions : Étape 2
            include includes/clause_tree_fr
            a.btn.btn-default.overlay-lnk(href='#clauseListModal' aria-controls='clauseListModal' role='button' title='Resume editing by pasting a previously generated requirements list') Entrer la liste de clauses
            a.btn.btn-default.wb-tabs-ext.right(href='#details-step3') Suivant
          details#details-step3
            summary Étape 3 : Produire les documents des exigences
            p.form-instructions-link
              a.overlay-lnk.right(href='#instructionsStep3' aria-controls='instructionsStep3' role='button' title='Step 3 instructions') Instructions : Étape 3
            include includes/download_chooser_fr

  section.wb-overlay.modal-content.overlay-def.wb-popup-mid#instructionsStep1
    header.modal-header
      h2.modal-title Instructions : Étape 1
    .modal-body
      p Cochez toutes les cases qui s’appliquent aux TIC que vous achetez, même celles qui semblent redondantes.
      p
        | Prenez note que le produit / service acheté doit lui-même 
        strong fournir
        |  le composant ou la caractéristique. Par exemple, prenez en considération le cas de l’acquisition de service d’apprentissage en ligne :
      ol
        li
          p L’énoncé des travaux précise que le fournisseur doit utiliser une certaine plate-forme de vidéoconférence.
          p Les exigences de « communication bidirectionnelle » et de « communication vidéo bidirectionnelle » ne devraient pas être sélectionnées (puisque ces fonctions ne sont pas fournies par le fournisseur dans le cadre de ce marché).
        li
          p L’énoncé des travaux comprend un système de gestion de l’apprentissage avec des capacités de mise en forme du contenu, qui doit être choisi ou élaboré par le fournisseur.
          p Les « systèmes auteurs » devraient être sélectionnés (puisque le fournisseur fournit les fonctions de création de contenu dans le cadre de ce marché).
      p Lorsque vous êtes satisfait de votre sélection, passez à l’étape 2 en utilisant les onglets de navigation ou le bouton « Prochain ». Des directives supplémentaires sont disponibles à chaque onglet.

      
  section.wb-overlay.modal-content.overlay-def.wb-popup-mid#instructionsStep2
    header.modal-header
      h2.modal-title Instructions : Étape 2
    .modal-body
      p
        | Les exigences (clauses) pertinentes ont maintenant été sélectionnées en fonction de vos réponses à l’étape 1. Utilisez l’arbre des cases à cocher pour vérifier quelles clauses ont été sélectionnées. Assurez-vous qu’elles s’appliquent à votre marché.
      h3 Quand devriez-vous désélectionner une clause?
      p
        | Ne désélectionnez que les clauses dont vous êtes certain qu’elles ne font pas partie du produit / service acheté. Vous pouvez inclure toute exigence qui pourrait être nécessaire. Les clauses individuelles peuvent être marquées « sans objet » par les fournisseurs; ce n’est donc pas un problème que d’inclure une clause non applicable.
      p
        | Par exemple, si vous considérez l’achat d’une application Web. Le contenu Web peut inclure de la vidéo ou de l’audio. Même si l’énoncé des travaux n’exige pas de contenu multimédia, certains fournisseurs peuvent utiliser les multimédias pour les directives d’utilisation de l’application. Gardez la clause 9.1.2 « Médias en fonction du temps » sélectionnée.
      p
        | En général, vous devriez inclure toutes les exigences dans la clause 9 ou 10 plutôt que d’en sélectionner seulement une partie.
      h3 Utilisation de l’arbre à clauses
      ul
        li Pour développer ou réduire des parties de l’arbre à l’aide de la souris, cliquez sur la flèche à côté de la clause que vous souhaitez développer. Ou cliquez dans l’espace vide à côté du nom de la clause.
        li Pour développer ou réduire une partie à l’aide du clavier, utilisez les touches fléchées. Les flèches haut et bas permettent de passer d’une clause à l’autre, tandis que les flèches droite et gauche permettent de développer et de réduire les clauses.
        li Les clauses sans clause subordonnée sont les seules qui contiennent le texte de l’exigence réelle (par exemple, la clause 5.2). Elles peuvent être développées pour faire apparaître le texte de la même manière que les clauses principales.
        li Pour sélectionner ou désélectionner une clause, cliquez sur la case à cocher ou appuyez sur la barre. Lorsqu’une clause principale est sélectionnée (par exemple, la clause 5), toutes ses clauses subordonnées seront sélectionnées.
      h3 Apporter des modifications aux exigences générées précédemment
      p
        | Chaque document généré comprend une « liste de clauses » succincte, c’est-à-dire une seule phrase énumérant toutes les clauses incluses dans ce document. Voici à quoi cela ressemble :
      p
        | « La solution proposée devrait être conforme aux clauses 5.1.2.1, 5.1.2.2, 5.1.3.1, 12.1.1 et 12.1.2. »
      p
        | Vous avez peut-être passé un temps considérable à affiner votre sélection de clauses. Après avoir généré des documents, vous avez fermé la page Web. Le lendemain, vous vous rendez compte que des modifications sont nécessaires. Une fonction vous permet de le faire facilement.
      p
        | Cliquez sur le bouton « Entrer la liste des clauses » situé après l’arbre des clauses. Copiez la liste des clauses de votre document précédemment généré et collez-la dans le champ du formulaire. Votre sélection de clauses précédente sera restaurée dans l’arbre des cases à cocher. Vous pouvez ensuite apporter toutes les modifications nécessaires à la sélection.
      
  section.wb-overlay.modal-content.overlay-def.wb-popup-mid#instructionsStep3
    header.modal-header
      h2.modal-title Instructions : Étape 3
    .modal-body
      p Cliquez sur les liens pour télécharger les documents relatifs aux exigences. Pour la plupart des approvisionnements, le « Tableau des exigences avec des sections informatives » doit être inclus. Lorsque la conformité est évaluée, incluez également un « Modèle d'évaluation ».
      p Vous souhaiterez peut-être donner aux documents des noms de fichiers plus  descriptifs après le téléchargement.
      h3 Modifications nécessaires aux documents Word
      p
        | En raison des 
        a(href='https://github.com/juleskuehn/a11y-req#user-content-known-issues') limitations de l’outil (en anglais seulement)
        | , vous devez effectuer chacune des étapes suivantes après avoir téléchargé les documents.
      h4 Document anglais
      ol
        li Ouvrez le document anglais généré dans Microsoft Word.
        li Sous Fichier  &gt; Informations, cliquez sur Convertir.
        li Pour le document « Exigences avec des sections informatives » uniquement :
        | Insérez des sauts de page avant chaque annexe. Le cas échéant, insérez les sauts de page pour conserver les chiffres avec leurs légendes correspondantes.
        li Enregistrez et fermez le document.
      h4 Document français
      ol
        li Ouvrez le document français généré dans Microsoft Word.
        li Sous Fichier &gt; Informations, cliquez sur Convertir.
        li Sélectionnez tout et définissez la langue en français. Pour définir la langue, cliquez sur la langue dans la barre d’état, ou suivez ces étapes :
          ol(type='a')
            li Dans le ruban, sélectionnez l’onglet Révision.
            li Sélectionnez Langue &gt; Définir la langue de révision.
            li Sélectionnez la langue souhaitée.
        li Pour le document « Exigences avec des sections informatives » uniquement :
          ol(type='a')
            li Insérez les sauts de page avant chaque annexe. Le cas échéant, insérez les sauts de page pour conserver les chiffres avec leurs légendes correspondantes.
            li Le document français contient un peu de texte anglais, qui devrait rester en anglais. Sélectionnez les sections anglaises suivantes (qui se trouvent dans les annexes) et définissez la langue en anglais :
              ul
                li Références
                li Abréviations
            | Assurez-vous que les notes (qui sont en français) ne sont pas définies en anglais.
        li Enregistrez et fermez le document.

  section.wb-overlay.modal-content.overlay-def.wb-popup-mid#clauseListModal
    header.modal-header
      h2.modal-title Enter clause list
    .modal-body
      p Collez la liste de clauses à partir d'un document généré précédemment pour reprendre la modification de votre sélection.
      p La liste des clauses est une seule phrase qui ressemble à ceci:
      p « La solution proposée devrait être conforme aux clauses 5.1.2.1, 5.1.2.2, 5.1.3.1, 12.1.1 et 12.1.2. »
      textarea.no-editor#clauseList